.respassword-wrapper .content {
    width: 420px;
    line-height: 30px;
    align-items: center;
}

.respassword-wrapper .form {
    width: 100%;
}

.respassword-wrapper .content h2 {
    margin-top: 50px;
    margin-bottom: 0;

    font-size: 32px;
    font-weight: 600;
}

.respassword-wrapper .content .text-grey {
   line-height: 20px;
   margin-top: 10px;
   margin-bottom: 30px;
}

.blue-button {
    position: relative;
}


.email-sent-wrapper .content {
    width: 355px;
    line-height: 30px;
    align-items: center;
}

.email-sent-wrapper .content h2 {
    margin-top: 50px;
    margin-bottom: 0;

    font-size: 32px;
    font-weight: 600;
}

.email-sent-wrapper .content .text-grey {
   line-height: 24px;
   margin-top: 10px;
   margin-bottom: 40px;
}

.email-sent-wrapper .content .blue-button {
    width: 100%;
}

.respassword-wrapper .btn-submit::after {
    content:"Отправить"; 
}

.loading .btn-submit::after {
    content: "Отправка";
} 

.loading .btn-submit::before {
    content: "";
    position: absolute;
    left: 130px;
    background-image: url("../img/elipse.svg");
    width: 24px;
    height: 24px;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading .form-input {
    background-color: #F2F2F2 !important; 
    color: #999999 !important;
    border: none !important;
}


@media only screen and (max-width: 768px) {
    .respassword-wrapper .content h2 {
      font-size: 24px;
      margin-top: 30px
    }

    .respassword-wrapper .content p {
        width: 280px;
        line-height: 24px;
    }

    .respassword-wrapper .btn-submit::after {
        content: "Восстановить пароль";
    }

    .loading .btn-submit::after {
        content: "Отправка";
    } 

    .loading .form-input {
        background-color: #F2F2F2;
        color: #999999;
        border: none !important; 
    }

    .loading .btn-submit::before {
        left: 100px;
    }
}

@media only screen and (max-height: 420px) {
    .lock-svg {
        transform: scale(0);
        width: 0;
        height: 0;
    }
}



